@import '../../../../assets/css/_variables.scss';

.dashboard-card {
    border-radius: 8px;
    box-shadow: 0 0 4px $colorSecondary;
    background-color: #fff;
    border: 3px solid $colorSecondary;
    margin-bottom: 16px;
    padding: 8px;

    & > div:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }
    & > div:nth-child(2) {
        display: grid;
        grid-template-columns: auto auto;
        & > div {
            padding: 8px;
            display: flex;
            flex-direction: column;
        }
    }
}

.dashboard-card .heading {
    font-weight: bold;
    font-size: 1.2em;
}

.join-btn {
    background: linear-gradient(0deg, $colorSecondary 0%, $colorSecondaryVariant 100%);
    box-shadow: 0 0 4px $colorSecondary;
    color: #ddd;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
}
