/* SCSS HEX */
$colorPrimary: #43286e;
$colorSecondary: #35f0d0;
$colorPrimaryVariant: #77ffff;
$colorSecondaryVariant: #00184b;
$colorOnPrimary: #000000;
$colorOnSecondary: #ffffff;
$colorSurface: #d2e4f7;
$colorBackground: #f7edee;
$colorOnPrimary: #333333;
