/* SCSS HEX */
$colorPrimary: #31e5d3;
$colorSecondary: #083d77;
$colorPrimaryVariant: #77ffff;
$colorSecondaryVariant: #00184b;
$colorOnPrimary: #000000;
$colorOnSecondary: #ffffff;
$colorSurface: #d2e4f7;
$colorOnPrimary: #333333;
