@import '../../assets/css/variables';

.header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 48px;
    color: $colorPrimary;
    font-size: 28px;
    font-weight: bold;
    line-height: 48px;
    padding: 0 16px;
}
