@import '../../assets/css/_variables.scss';

.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 48px;
    display: flex;

    & > button {
        width: 100%;
        text-align: center;
        border: 1px solid $colorSecondary;
        background-color: $colorSurface;
        color: $colorSecondary;
        outline: none !important;

        &:hover {
            background-color: $colorSecondary;
            color: $colorOnSecondary;
        }

        &.selected {
            background-color: $colorSecondary;
            color: $colorOnSecondary;
        }
    }
}
