@import '../../assets/css/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    display: flex;
    background-color: #43286e;
    box-shadow: 0 -4px 4px #0000001a;
    & > button {
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
        font-size: 14px;
        width: 100%;
        border: none;
        background-color: $colorPrimary;
        color: #9f82d7;
        &:hover,
        &.selected {
            color: $colorSecondary;
        }
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    & > svg {
        width: 100%;
        font-size: 20px;
    }
}
