@import './assets/css/_variables.scss';
@import './assets/css/common.scss';
@import './assets/css/toast.scss';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

:root {
    font-size: 100%;
    font-family: 'Titillium Web', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: $colorOnPrimary;
    background-color: $colorBackground;
}

*:focus {
    outline: none;
}
