@import './assets/css/_variables.scss';

:root {
    font-size: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: $colorOnPrimary;
    background-color: $colorSurface;
}
